.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.gradient-custom-2 {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
<<<<<<< HEAD
    border-top-right-radius: 0.3rem;
=======
    border-top-right-radius: 0rem;
>>>>>>> 3dbc91759d2f866388a0a560270dc91581b6b105
    border-bottom-right-radius: 0.3rem;
  }
}

.wrapper {
  background: #e6e6fa;
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper li {
  float: left;
}

<<<<<<< HEAD
=======
#floatRight {
  float: right;
}

#float_with_padding {
  float: right;
}

>>>>>>> 3dbc91759d2f866388a0a560270dc91581b6b105
.wrapper li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.wrapper li a:hover {
<<<<<<< HEAD
  color: #161919;
  background: rgba(#dd3675, #b44593);
}
=======
  color: #000000;
  background: rgba(#dd3675, #b44593);
}

.imagedropshadow {
  padding: 3px;
  border: solid 1px #efefef;
}

a:hover img.imagedropshadow {
  border: solid 1px rgb(255, 255, 255);
  -moz-box-shadow: 1px 1px 5px rgb(255, 255, 255);
  -webkit-box-shadow: 1px 1px 5px rgb(255, 255, 255);
  box-shadow: 1px 1px 5px rgb(255, 255, 255);
}
>>>>>>> 3dbc91759d2f866388a0a560270dc91581b6b105
