body{
    background: #E6E6FA;
    background: linear-gradient(to right,  #ee7724,#d8363a,#dd3675,#b44593);
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #161919;
  background: rgba(#dd3675,#b44593);
  }

  .wrapper{
    background: #E6E6FA;
    background: linear-gradient(to right,  #ee7724,#d8363a,#dd3675,#b44593);
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .wrapper li {
    float: left;
  }
  
  .wrapper li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .wrapper li a:hover {
    color: #161919;
    background: rgba(#dd3675,#b44593);
  }



body {
  background: #eee
}

.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #b44593;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #b44593;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom
}

.card:hover::after {
  transform: scaleY(1)
}

.fonts {
  font-size: 11px
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0
}

.social-list li {
  padding: 10px;
  color: #b44593;
  font-size: 19px
}

.buttons button:nth-child(1) {
  border: 1px solid #b44593 !important;
  color: #b44593;
  height: 40px
}

.buttons button:nth-child(1):hover {
  border: 1px solid #b44593 !important;
  color: #fff;
  height: 40px;
  background-color: #b44593
}

.buttons button:nth-child(2) {
  border: 1px solid #b44593 !important;
  background-color: #b44593;
  color: #fff;
  height: 40px
}