body{
    background: #E6E6FA;
    background: linear-gradient(to right,  #ee7724,#d8363a,#dd3675,#b44593);
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #161919;
  background: rgba(#dd3675,#b44593);
  }

  .wrapper{
    background: #E6E6FA;
    background: linear-gradient(to right,  #ee7724,#d8363a,#dd3675,#b44593);
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .wrapper li {
    float: left;
  }
  
  .wrapper li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .wrapper li a:hover {
    color: #161919;
    background: rgba(#dd3675,#b44593);
  }
  
  .box {
    background-color: white;
    max-width: 600px;
    border-radius: 5px;
    text-align: center;
    padding: 0.25%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .food_image {
    text-align: center;
    border-radius: 5px;
  }


  