<html>

<head>
    <link rel="icon" type="image/x-icon" href="http://cdn.onlinewebfonts.com/svg/img_481531.png">
    <link href="/static/about.css" rel="stylesheet">
    <script src="jquery-3.5.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
        <div class="wrapper">
            <ul>
              <li><a href="/menu">Menu</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="/party">Create a Party</a></li>
              <li id="floatRight"><a href="/login">Logout</a></li>
              <li id="float_with_padding"><a href="/profile"><img class="imagedropshadow" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.iconsdb.com%2Ficons%2Fpreview%2Fwhite%2Fuser-4-xxl.png&f=1&nofb=1" alt="profile" height="30" width="30" ></a></li>
            </ul>
        </div>
</head>


    <center><p>Are you sure you want to delete your account? This action can not be reversed. If you want to do this type your
        email into the textbox and click submit</p></center>
    <center><form action="/delete" method="POST">
        <input type="text" name="username" placeholder="" />
        <input type="submit" value="submit" />
    </form></center>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for messages in messages %}
        <p style="color:red;">{{ messages}}</p>
        {%endfor%}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>