<html>

<head>
    <title>Delete your account </title>
    <link rel="shortcut icon" href="http://cdn.onlinewebfonts.com/svg/img_481531.png" />
</head>

<body>
    <p>Are you sure you want to delete your account? This action can not be reversed. If you want to do this type your
        email into the textbox and click submit</p>
    <form action="/delete" method="POST">
        <input type="text" name="username" placeholder="" />
        <input type="submit" value="submit" />
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for messages in messages %}
        <p style="color:red;">{{ messages}}</p>
        {%endfor%}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>