<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='menu.css' ) }} />
    <title> FoodFight </title>
    <link rel="shortcut icon" href="http://cdn.onlinewebfonts.com/svg/img_481531.png" />
</head>

<body>
    <div class="nav">
        <input type="checkbox">
        <span></span>
        <span></span>
        <div class="text-center">
            <img src="http://cdn.onlinewebfonts.com/svg/img_481531.png" style="width: 185px;" alt="logo">
            <h3> MENU </h3>
        </div>
        <div class="menu">
            <li><a href="/about">About</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/party">Create a Party</a></li>
            <li><a href="/profile">Profile</a></li>

        </div>
    </div>

</body>

</html>