<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='profile.css' ) }} />
    <title> FoodFight </title>
    <link rel="shortcut icon" href="http://cdn.onlinewebfonts.com/svg/img_481531.png" />
</head>

<body>

    <div class="wrapper">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/party">Create a Party</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </div>

    <h2> Hello {{ username }}</h2>





</body>

</html>