<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='search.css' ) }} />
</head>

<body>
    <script src="search.js"></script>
    <form action="/search" method="POST" class="search-box">
        <div class="search">
            <div class="left-side">
                <input type="text" size="30" name="term" placeholder="sushi, coffee, etc" class="field request">
                <div class="field-wrapper">
                    <span class="field-title find">Find</span>
                </div>
            </div>
            <div class="right-side">
                <input type="text" size="30" name="location" placeholder="city, zipcode" class="field request">
                <div class="field-wrapper">
                    <span class="field-title near">Near</span>
                </div>
            </div>
            <input type="submit" value="Search" class="search-button">
        </div>
        </div>
    </form>

    {% if search_query %}
    {%for i in range (0, 20)%}
    <h2>{{ name [i] }} </h2>
    <div class="box">
        <img src="{{ image [i]}}" width=300 height=300 />
    </div class="box">
        <form action="/like" method="POST" class="search-box" onsubmit="return false">
            <button onclick="toggle()" name="Like" value="{{ biz_id[i] }}" id="myButton" type="submit">Like</button>  
            <script>
                function toggle() {
                    var elem = document.getElementById("myButton"),
                        text = elem.textContent || elem.innerText;
                    if (text === "Like") 
                        elem.innerHTML = "Unlike";
                    else 
                        elem.innerHTML = "Like";
            }
            </script>
        </form> 
        
    {% endfor %}
    {% endif %}
</body>

</html>